@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pro-disp-sb";
  src: url("../../public/SF-Pro-Display-Semibold.otf");
}
@font-face {
  font-family: "pro-disp-md";
  src: url("../../public/SF-Pro-Display-Medium.otf");
}
@font-face {
  font-family: "pro-text-md";
  src: url("../../public/SF-Pro-Text-Regular.otf");
}
@font-face {
  font-family: "pro-text-rg";
  src: url("../../public/SF-Pro-Text-Regular.otf");
}
@font-face {
  font-family: "compact-disp-rg";
  src: url("../../public/SF-Compact-Display-Regular.otf");
}

@layer base {
  h1 {
    @apply font-pro-disp-sb text-[3rem] leading-[4rem];
  }
  h2 {
    @apply font-pro-disp-sb text-[2.25rem] leading-[2.25rem];
  }
  h3 {
    @apply font-pro-disp-sb text-[1.5rem] leading-[1.5rem];
  }
  h4 {
    @apply font-pro-disp-md text-[1.5rem] leading-9;
  }
  h5 {
    @apply font-pro-disp-md text-[1.25rem] leading-7;
  }
  h6 {
    @apply font-pro-text-md text-[1rem] leading-6;
  }
}
@layer components {
  .p1 {
    @apply font-pro-text-rg text-[1rem] leading-6;
  }
  .p2 {
    @apply font-pro-text-rg text-[0.875rem] leading-5;
  }
  .p3 {
    @apply font-pro-text-rg text-[0.75rem] leading-5;
  }
  .h1 {
    @apply font-pro-disp-sb text-[3rem] leading-[4rem];
  }
  .h2 {
    @apply font-pro-disp-sb text-[2.25rem] leading-[2.25rem];
  }
  .h3 {
    @apply font-pro-disp-sb text-[1.5rem] leading-[1.5rem];
  }
  .h4 {
    @apply font-pro-disp-md text-[1.5rem] leading-9;
  }
  .h5 {
    @apply font-pro-disp-md text-[1.25rem] leading-7;
  }
  .h6 {
    @apply font-pro-text-md text-[1rem] leading-6;
  }
  .app-icon-shadow {
    @apply shadow-[0_0_10px_0_rgba(36,41,46,0.05)];
  }
  .selected-icon-highlight {
    @apply border-solid border-highlight border-2;
  }
  .border-warning-style {
    @apply border-solid border-[1px] border-warning;
  }
  .border-selected-highlight {
    @apply border-solid border-2 border-highlight;
  }
  .border-other {
    @apply border-stroke-colors border-2 box-border;
  }
}
